/* Write your code here. */
.bg-container {
  height: 100vh;
  padding: 40px;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.app-container {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.image {
  height: 450px;
}
.heading {
  font-family: 'Roboto';
  font-size: 25px;
  color: #1e293b;
}
.description {
  font-family: 'Roboto';
  color: #64748b;
}
.images-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  padding-bottom: 30px;
}
